.beautiful-wave-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 530px;
    overflow: hidden;
    background-color:pink; /* Set your desired background color for the box */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  

  
  .beautiful-input {
    position: relative;
    z-index: 2;
    width: 80%;
    margin:20px 0px 0px 34px;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Set your desired background color for the input field */
    border: 1px solid black;
    border-radius:30px;
  }
  
.data{
    position: relative;
    margin:95px 30px 0px 60px;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    display: flex;
    align-items: center;

    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}
.heading h2{
    padding:30px;
    letter-spacing: 4px;
}
  
.rest h1{
    letter-spacing:7px;
    margin-left: 50px;

}
.rest h4{
    margin-top: 30px;
    margin-left: 10px;
    letter-spacing:3px;
    font-weight: bold;
}
  
  .h{
    margin: 50px;
    letter-spacing:4px;
  }
  
  
  
  body {
    background: radial-gradient(rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  }
  
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    width: 6400px;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
  }
  
  .wave:nth-of-type(2) {
    top: -168px;
    animation: swell 4s ease infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px;}
  }
  @keyframes swell {
    0%, 100% {
      transform: translate(0, -30px);
    }
    50% {
      transform: translate(0, 5px);
    }
  }
  
  